.bgTransparent {
  background: rgba(0, 0, 0, 0.5);
}

.blogDetail {
  width: 15%;
  margin-left: 12px;
}

.blogDetailButton:hover {
  background-color: rgb(48, 48, 48);
}

.userBlog {
  width: 80%;
}
